
.post {
background-color: #fff;
    max-width: 35rem;
    border: 1px solid #d3d3d3;
    margin-bottom: 3rem

}

.post_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.post_text {
    font-weight: normal;
    padding: 1rem;
    }

    .post_header {
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .post_avatar {
        margin-right: 0.7rem;
    }

    .post_commentBox {

        display: flex;
        margin-top: 0.5rem;
    }

    .post_comments{
        padding: 1rem;
    }

    .post_input {
        flex: 1;
        border: none;
        padding: 0.5rem;
        border-top: 1px solid lightgray;
    }

    .post_button {
        flex: 0;
        border: none;
        color: #6082a3;
        background-color: transparent;
        border-top: 1px solid lightgray;
    }